.stApp {
background: #BABAA9;
}

.stApp > header {
background-color: transparent;
}

div[data-testid="stVerticalBlock"]>div[data-testid="stVerticalBlockBorderWrapper"]{
background-color: #D1D3C4;
border-radius: 20px;
}

[data-testid=stSidebar]{
background-color: #410008;
}

p {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
}

h1 {
font-family: Amasis MT Std;
color: white;
font-size: 44px;
text-align: center;
}

div[data-testid=stNumberInput]>label>div>p{
font-size:25px;
padding: 0px 0px 0px 0px;
}

div[data-testid=stCheckbox]>label>div>div>div>p{
font-size:25px;
padding: 0px 0px 0px 0px 
}

div[data-testid=stMarkdownContainer]>p{
font-family:Aptos Display;
color:white;
font-size: 28px;
text-align: center;
padding-top: 0px
}